<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomerDataWSPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="CustomerDataWSPortBinding1" />
        <binding name="MasterDataWSPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="MasterDataWSPortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://bduct.farmatodo.com.ve:7002/BDUCWS/CustomerDataWS"
          binding="basicHttpBinding" bindingConfiguration="CustomerDataWSPortBinding"
          contract="CustomerDataWS.CustomerDataWS" name="CustomerDataWSPort" />
      <endpoint address="https://bduct.farmatodo.com.ve:7002/BDUCWS/MasterDataWS"
          binding="basicHttpBinding" bindingConfiguration="MasterDataWSPortBinding"
          contract="MasterDataWS.MasterDataWS" name="MasterDataWSPort" />
    </client>
  </system.serviceModel>
</configuration>